# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dev-debug.log

# Dependency directories
node_modules/

# Environment variables
.env

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS specific
.DS_Store

# Build outputs
build/
dist/

# Electron
electron-builder.yml
.electron-cache/
.electron-builder/
out/
app/
packages/

# Coverage directory used by tools like istanbul
coverage/

# nyc test coverage
.nyc_output

# Webpack
.webpack/

# Temporary folders
tmp/
temp/

# Task files
# tasks.json
# tasks/ 
